.grid{
    height: 600px;
    width: 600px;
    display: grid;
    box-shadow: grey;
    border-style: ridge;
    border-width: 24px;
    grid-template-columns: repeat(16, 1fr);
}

.grid_child{
    background-color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.config {
    padding-top: 32px;
    padding-bottom: 8px;
    justify-items: center;
}

button {
    font-size: 19px;
}

.gridinput {
    padding-top: 16px;
    padding-bottom: 32px;
}